.menu__subtitle {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 25px;
    max-width: 565px;
}