.contact__inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .contact__inputs {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}