.header {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 151px;
}

@media screen and (max-width: 999px) {
    .header {
        justify-content: space-between;
        padding-right: 50px;
        align-items: center;
    }
}

@media screen and (max-width: 599px) {
    .header {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1000px) {
    .header__fixed {
        position: fixed;
        width: 100%;
        max-width: 1440px;
        z-index: 99999;
        backdrop-filter: blur(4rem) brightness(0.5);
    }

    .header__fixed #wheel {
        height: 3rem;
        margin-bottom: 1.5rem;
    }
}
