.booking__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 71px;
    padding-top: 62px;
}

@media screen and (max-width: 1190px) {
    .booking__form-container {
        margin-right: 50px;
        padding-top: 0;
    }
}

@media screen and (max-width: 1064px) {
    .booking__form-container {
        margin-right: 0;
    }
}