.text-container__title {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 699px) {
    .text-container__title {
        margin-bottom: 20px;
    }
}