.subtitle {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}