.title-container__wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

@media screen and (max-width: 469px) {
    .title-container__wrapper {
        flex-direction: column;
        gap: 20px;
    }
}