.events__image {
    width: 395px;
    height: 475px;
    object-fit: cover;
}

@media screen and (max-width: 1175px) {
    .events__image {
        width: 345px;
        height: 425px;
    }
}

@media screen and (max-width: 1110px) {
    .events__image {
        width: 300px;
        height: 380px;
    }
}

@media screen and (max-width: 900px) {
    .events__image {
        width: 395px;
        height: 475px;
    }
}

@media screen and (max-width: 620px) {
    .events__image {
        width: 345px;
        height: 425px;
    }
}

@media screen and (max-width: 535px) {
    .events__image {
        width: 300px;
        height: 375px;
    }
}

@media screen and (max-width: 490px) {
    .events__image {
        width: 250px;
        height: 325px;
    }
}

@media screen and (max-width: 420px) {
    .events__image {
        width: 220px;
        height: 295px;
    }
}

@media screen and (max-width: 380px) {
    .events__image {
        width: 180px;
        height: 255px;
    }
}