.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

@media screen and (max-width: 599px) {
    .social-icons {
        flex-direction: row;
    }
}