.events__caption {
    color: #FFFFFF;
    writing-mode: vertical-rl;
    margin: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 50%;
    text-indent: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 380px) {
    .events__caption {
        font-size: 18px;
    }
}

