.menu {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 78px;
    padding-bottom: 65px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .menu {
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .menu {
        padding-top: 50px;
    }
}